-
  const propsBlockV2 = {
    title: 'Заголовок 2 версии блока',
    items: {
      title: 'Заголовок для блока элементов',
      list: [
        {
          title: 'Заголовок 1 элемента',
          text: 'Текст 1 элемента <br/> с переносом и <a href="#">ссылкой</a>',
        },
        {
          title: 'Заголовок 2 элемента',
          text: 'Текст 2 элемента',
        },
        {
          title: 'Заголовок 3 элемента',
          text: 'Текст 3 элемента',
        },
      ],
    },
    article: {
      title: 'Заголовок статьи',
      paragraph: [
        'Абзац 1',
        'Абзац 2',
        'Абзац 3',
        'Абзац 4',
      ]
    }
  }